.page {
  background-color: #ffffff;
  color: #757575;
}

.web-logo {
  color: #2196f3;
}
.studio-logo {
  color: #000000;
}

/* #757575 цвет основного текста
#212121 вторичный цвет текста
#FFFFFF белый
#AFB1B8 вторичный цвет фона
#2196F3 акцент
 */
